<template name="gameLoader">
    {{#if itemsReady}} 
        {{> game gameItem}} 
    {{else}}
        <div>
            Loading ...
        </div>
    {{/if}}
</template>

<template name="game">
    {{ debug }}
    <div class="ui page grid">
        <div class="four wide column">
            <div style="text-align: center">
                <img src="/uploads/{{../folder}}/thumbnail/{{icon}}">
            </div>
            <div class="ui message">
                <div class="ui rating" data-rating="{{roundedRating}}">
                    <i class="icon"></i>
                    <i class="icon"></i>
                    <i class="icon"></i>
                    <i class="icon"></i>
                    <i class="icon"></i>
                </div>
                <span style="font-size: smaller">{{ averageRoundedRating }} / {{ratings}} rating(s)</span>
                <div class="ui divider"></div>
                <div style="text-align: center">
                    {{#each files}}
                    <i class="icon {{platform}}"></i> this. {{/each}}
                </div>

                <div class="ui divider">
                </div>
                {{#if currentUser}}
                <form class="ui form">
                    <div class="field">
                        <textarea style="height:60px; min-height: 60px; font-size: small" placeholder="Your review" id="review"></textarea>
                    </div>
                    <button class="ui labeled mini icon button">
                        <i class="icon pencil"></i> Review
                    </button>
                </form>
                <div class="ui divider">
                </div>
                {{/if}}
                <div>
                    {{#each reviews}}
                    <div style="font-size: small">{{review}}</div>
                    <div style="font-size: x-small; margin-bottom: 5px">by {{owner}} {{niceTime}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <h2 class="ui header">
                <div class="content teal">
                    {{title}}
                    <div class="sub header">{{ genreToText genre }} by {{owner}} &bull; {{ niceTime createdOn }}
                        {{#if views}}
                            &bull; {{ views }} views
                        {{/if}}
                    </div>
                </div>
            </h2>

            <p>{{description}}</p>

            <div class="ui horizontal icon divider">
                <i class="circular photo icon"></i>
            </div>

            <div class="ui horizontal list">
                {{#each screens}}
                <div class="item" style="text-align: center">
                    <a href="/uploads/{{../folder}}/{{file}}"><img src="/uploads/{{../folder}}/thumbnail/{{file}}" alt="image"></a>
                    <br/>
                </div>
                {{/each}}
            </div>

            <div class="ui horizontal icon divider">
                <i class="circular upload icon"></i>
            </div>

            <div class="ui message">
                <div class="ui list">
                    <div class="header">Downloads</div>
                    {{#each files}}
                    <div class="item">
                        <i class="icon {{platform}}"></i>
                        <a href="/uploads/{{../folder}}/{{file}}">
                                {{file}}
                            </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>


</template>