<template name="home">
    <img src="mainBack.jpg">
    <div class="ui stackable page grid">
        <div class="ten wide column">
            <div class="ui large message">
                <h1 class="ui huge header">Welcome to Play!</h1>
                <p>
                    Check out the content carefully crafted by your fellow colleagues.
                    If you feel like resting, here you can find many free games for all ages!
                    If you feel like studying, browse useful content that will make your life easier!
                    If you find a game or anything that you like, please leave us a comment and share it with your friends!
                </p>
            </div>
        </div>
        <div class="six wide column">
            {{> loginView}}
        </div>
    </div>

</template>
